<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pdiot_cw3">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- To make app available to BLE-capable devices only -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ThingyRecognition"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.bluetooth.le.ACTION_DATA_AVAILABLE" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ThingyConnect" android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityRecognitionActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.pdiot_cw3.RESPECK_BROADCAST" />
            </intent-filter>
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".bluetooth.ConnectBluetoth"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.pdiot_cw3.RESPECK_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.pdiot_cw3.RESPECK_DISCONNECTED" />
            </intent-filter>

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.pdiot_cw3.RESPECK_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.pdiot_cw3.RESPECK_DISCONNECTED" />
            </intent-filter>
        </activity>

        <service
            android:name=".bluetooth.BluetoothService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.pdiot_cw3.RESPECK_BROADCAST" />
            </intent-filter>
        </service>
        <service android:name=".bluetooth.ThingyService" />
        <service android:name=".bluetooth.ThingyBluetoothService" />
    </application>

</manifest>